In [1]:
import pandas as pd
import numpy as np

In [2]:
estruturas_curriculares = pd.read_csv('dados_brutos/estruturas-curriculares.csv', sep=';')
curriculo_componente_graduacao = pd.read_csv('dados_brutos/curriculo-componente-graduacao.csv', sep=';')
componentes_curriculares_presenciais = pd.read_csv('dados_brutos/componentes-curriculares-presenciais.csv', sep=';')

In [3]:
componentes_curriculares_presenciais.columns = ['id_componente_curricular', 'tipo_componente', 'codigo', 'nivel', 'nome',
       'unidade_responsavel', 'ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'cr_max_ead',
       'permite_horario_flexivel', 'qtd_unidades', 'procedimentos_avaliacao',
       'equivalencia', 'pre_requisito', 'co_requisito', 'ementa',
       'bibliografia', 'objetivos', 'conteudo', 'competencias_habilidades',
       'referencias', 'ano_programa', 'periodo_programa', 'modalidade',
       'curso_componente']

In [4]:
informacoes_estruturas_curriculares = [
    'id_curriculo', 'nome_matriz', 'nome_curso','semestre_conclusao_minimo', 'semestre_conclusao_ideal',
    'semestre_conclusao_maximo', 'ch_total_minima', 'ch_nao_atividade_obrigatoria', 'ch_optativas_minima','ch_complementar_minima',
    'max_eletivos','ch_minima_semestre','ch_maxima_semestre'
]

In [5]:
cursos_ti = estruturas_curriculares[estruturas_curriculares['nome_curso'] == 'TECNOLOGIA DA INFORMAÇÃO'][informacoes_estruturas_curriculares]
cursos_ti

,id_curriculo,nome_matriz,nome_curso,semestre_conclusao_minimo,semestre_conclusao_ideal,semestre_conclusao_maximo,ch_total_minima,ch_nao_atividade_obrigatoria,ch_optativas_minima,ch_complementar_minima,max_eletivos,ch_minima_semestre,ch_maxima_semestre
46,133797961,TECNOLOGIA DA INFORMAÇÃO - NATAL - N - BACHARE...,TECNOLOGIA DA INFORMAÇÃO,9.0,9.0,13.0,2600,1260,1200,140.0,600,30.0,420.0
140,133795010,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,1260,1200,140.0,600,30.0,480.0
141,134044403,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,2100,360,140.0,600,30.0,480.0
162,133804382,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,2160,300,140.0,600,30.0,480.0

In [6]:
cursos_ti.iloc[:, 2] = "BACHARELADO EM TECNOLOGIA DA INFORMAÇÃO"
cursos_ti.iloc[0, 1] = "NOTURNO"
cursos_ti.iloc[1, 1] = "DIURNO"
cursos_ti.iloc[2, 1] = "DESENVOLVIMENTO DE SOFTWARE"
cursos_ti.iloc[3, 1] = "COMPUTAÇÃO"
cursos_ti.columns = ['id_curriculo','nome_matriz','nome_curso','semestre_conclusao_minimo','semestre_conclusao_ideal','semestre_conclusao_maximo','ch_total_minima',
                     'ch_obrigatoria', 'ch_optativa_minima', 'ch_complementar_minima','ch_eletiva_maxima','ch_semestre_minima','ch_semestre_maxima']

In [7]:
cursos_ti.iloc[:2,:].to_csv('dados_extraidos/cursos_ti.csv', index=False)
cursos_ti.iloc[2:,:].to_csv('dados_extraidos/enfases_ti.csv', index=False)

In [8]:
curriculo_componente_ti = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo.isin(cursos_ti.id_curriculo)]

In [15]:
curriculo_componente_ti_noturno = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133797961]

curriculo_componente_ti_noturno_obrigatorias = curriculo_componente_ti_noturno[curriculo_componente_ti_noturno.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_noturno_obrigatorias.drop(['id_curriculo','id_curriculo_componente','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_noturno_obrigatorias = curriculo_componente_ti_noturno_obrigatorias.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_noturno_obrigatorias.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_noturno_obrigatorias.to_csv("dados_extraidos/obrigatorias_noturno.csv", index=False)

curriculo_componente_ti_noturno_optativas = curriculo_componente_ti_noturno[curriculo_componente_ti_noturno.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_noturno_optativas.drop(['id_curriculo','id_curriculo_componente','semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_noturno_optativas = curriculo_componente_ti_noturno_optativas.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_noturno_optativas.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_noturno_optativas.to_csv("dados_extraidos/optativas_noturno.csv", index=False)

/home/johnvithor/anaconda3/envs/predspot/lib/python3.7/site-packages/pandas/core/frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [16]:
curriculo_componente_ti_noturno_obrigatorias

    semestre_oferta   codigo
0                 3  IMD0029
1                 4  IMD0024
2                 4  IMD0040
3                 3  IMD0030
4                 3  IMD0038
5                 1  IMD0017
6                 1  IMD1003
7                 4  IMD0039
8                 1  IMD0020
9                 5  IMD0033
10                2  IMD0027
11                6  IMD0401
12                2  IMD0018
13                4  IMD0036
14                2  IMD0034
15                1  IMD1002
16                1  IMD1004
17                1  IMD1001
18                2  IMD1012
19                2  IMD0028
20                5  IMD0043
21                3  IMD0121

In [11]:
curriculo_componente_ti_diurno = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133795010]

curriculo_componente_ti_diurno_obrigatorias = curriculo_componente_ti_diurno[curriculo_componente_ti_diurno.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_diurno_obrigatorias.drop(['tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)

curriculo_componente_ti_diurno_optativas = curriculo_componente_ti_diurno[curriculo_componente_ti_diurno.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_diurno_optativas.drop(['semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)

In [12]:
curriculo_componente_ti_dev_soft = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 134044403]

curriculo_componente_ti_dev_soft_obrigatorias = curriculo_componente_ti_dev_soft[curriculo_componente_ti_dev_soft.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_dev_soft_obrigatorias.drop(['tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)

curriculo_componente_ti_dev_soft_optativas = curriculo_componente_ti_dev_soft[curriculo_componente_ti_dev_soft.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_dev_soft_optativas.drop(['semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)

In [13]:
curriculo_componente_ti_comput = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133804382]

curriculo_componente_ti_comput_obrigatorias = curriculo_componente_ti_comput[curriculo_componente_ti_comput.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_comput_obrigatorias.drop(['tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)

curriculo_componente_ti_comput_optativas = curriculo_componente_ti_comput[curriculo_componente_ti_comput.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_comput_optativas.drop(['semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_comput_optativas.to_csv('dados_extraidos/curriculo_componente_ti_comput_optativas.csv', index=False)

In [70]:
curriculo_componente_ti_obrigatorias = pd.concat([curriculo_componente_ti_noturno_obrigatorias, curriculo_componente_ti_diurno_obrigatorias, 
                                                  curriculo_componente_ti_dev_soft_obrigatorias, curriculo_componente_ti_comput_obrigatorias])
curriculo_componente_ti_obrigatorias = curriculo_componente_ti_obrigatorias.reset_index(drop=True)
curriculo_componente_ti_obrigatorias.to_csv('dados_extraidos/curriculo_componente_ti_obrigatorias.csv', index=False)

curriculo_componente_ti_optativas = pd.concat([curriculo_componente_ti_noturno_optativas, curriculo_componente_ti_diurno_optativas, 
                                                  curriculo_componente_ti_dev_soft_optativas, curriculo_componente_ti_comput_optativas])
curriculo_componente_ti_optativas = curriculo_componente_ti_optativas.reset_index(drop=True)
curriculo_componente_ti_optativas.to_csv('dados_extraidos/curriculo_componente_ti_optativas.csv', index=False)

In [52]:
informacoes_componentes_curriculares_presenciais = [
    'id_componente', 'codigo', 'nome','ch_teorico', 'ch_pratico', 'ch_total',
    'equivalencia', 'pre_requisito','co_requisito'
]
disciplinas_ti = componentes_curriculares_presenciais[informacoes_componentes_curriculares_presenciais]

In [63]:
id_componente_curriculares = list(curriculo_componente_ti.id_componente_curricular.values)

In [64]:
disciplinas_ti_esp = disciplinas_ti[disciplinas_ti.id_componente.isin(id_componente_curriculares)]
disciplinas_ti_esp.to_csv('dados_extraidos/disciplinas_ti.csv', index=False)