In [16]:
import pandas as pd
import numpy as np

In [17]:
estruturas_curriculares = pd.read_csv('dados_brutos/estruturas-curriculares.csv', sep=';')
curriculo_componente_graduacao = pd.read_csv('dados_brutos/curriculo-componente-graduacao.csv', sep=';')
componentes_curriculares_presenciais = pd.read_csv('dados_brutos/componentes-curriculares-presenciais.csv', sep=';')

In [18]:
componentes_curriculares_presenciais.columns = ['id_componente_curricular', 'tipo_componente', 'codigo', 'nivel', 'nome',
       'unidade_responsavel', 'ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'cr_max_ead',
       'permite_horario_flexivel', 'qtd_unidades', 'procedimentos_avaliacao',
       'equivalencia', 'pre_requisito', 'co_requisito', 'ementa',
       'bibliografia', 'objetivos', 'conteudo', 'competencias_habilidades',
       'referencias', 'ano_programa', 'periodo_programa', 'modalidade',
       'curso_componente']

In [19]:
informacoes_estruturas_curriculares = [
    'id_curriculo', 'nome_matriz', 'nome_curso','semestre_conclusao_minimo', 'semestre_conclusao_ideal',
    'semestre_conclusao_maximo', 'ch_total_minima', 'ch_nao_atividade_obrigatoria', 'ch_optativas_minima','ch_complementar_minima',
    'max_eletivos','ch_minima_semestre','ch_maxima_semestre'
]

In [20]:
cursos_ti = estruturas_curriculares[estruturas_curriculares['nome_curso'] == 'TECNOLOGIA DA INFORMAÇÃO'][informacoes_estruturas_curriculares]
cursos_ti

,id_curriculo,nome_matriz,nome_curso,semestre_conclusao_minimo,semestre_conclusao_ideal,semestre_conclusao_maximo,ch_total_minima,ch_nao_atividade_obrigatoria,ch_optativas_minima,ch_complementar_minima,max_eletivos,ch_minima_semestre,ch_maxima_semestre
46,133797961,TECNOLOGIA DA INFORMAÇÃO - NATAL - N - BACHARE...,TECNOLOGIA DA INFORMAÇÃO,9.0,9.0,13.0,2600,1260,1200,140.0,600,30.0,420.0
140,133795010,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,1260,1200,140.0,600,30.0,480.0
141,134044403,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,2100,360,140.0,600,30.0,480.0
162,133804382,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,2160,300,140.0,600,30.0,480.0

In [21]:
cursos_ti.iloc[:, 2] = "BACHARELADO EM TECNOLOGIA DA INFORMAÇÃO"
cursos_ti.iloc[0, 1] = "NOTURNO"
cursos_ti.iloc[1, 1] = "DIURNO"
cursos_ti.iloc[2, 1] = "DESENVOLVIMENTO DE SOFTWARE"
cursos_ti.iloc[3, 1] = "COMPUTAÇÃO"
cursos_ti.columns = ['id_curriculo','nome_matriz','nome_curso','semestre_conclusao_minimo','semestre_conclusao_ideal','semestre_conclusao_maximo','ch_total_minima',
                     'ch_obrigatoria', 'ch_optativa_minima', 'ch_complementar_minima','ch_eletiva_maxima','ch_semestre_minima','ch_semestre_maxima']

In [22]:
cursos_ti.iloc[:2,:].to_csv('dados_extraidos/cursos_ti.csv', index=False)
cursos_ti.iloc[2:,:].to_csv('dados_extraidos/enfases_ti.csv', index=False)

In [23]:
curriculo_componente_ti = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo.isin(cursos_ti.id_curriculo)]

In [24]:
curriculo_componente_ti_noturno = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133797961]

curriculo_componente_ti_noturno_obrigatorias = curriculo_componente_ti_noturno[curriculo_componente_ti_noturno.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_noturno_obrigatorias.drop(['id_curriculo','id_curriculo_componente','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_noturno_obrigatorias = curriculo_componente_ti_noturno_obrigatorias.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_noturno_obrigatorias.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_noturno_obrigatorias.to_csv("dados_extraidos/obrigatorias_noturno.csv", index=False)

curriculo_componente_ti_noturno_optativas = curriculo_componente_ti_noturno[curriculo_componente_ti_noturno.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_noturno_optativas.drop(['id_curriculo','id_curriculo_componente','semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_noturno_optativas = curriculo_componente_ti_noturno_optativas.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_noturno_optativas.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_noturno_optativas.to_csv("dados_extraidos/optativas_noturno.csv", index=False)

/home/johnvithor/.local/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
curriculo_componente_ti_diurno = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133795010]

curriculo_componente_ti_diurno_obrigatorias = curriculo_componente_ti_diurno[curriculo_componente_ti_diurno.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_diurno_obrigatorias.drop(['id_curriculo','id_curriculo_componente','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_diurno_obrigatorias = curriculo_componente_ti_diurno_obrigatorias.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_diurno_obrigatorias.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_diurno_obrigatorias.to_csv("dados_extraidos/obrigatorias_diurno.csv", index=False)

curriculo_componente_ti_diurno_optativas = curriculo_componente_ti_diurno[curriculo_componente_ti_diurno.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_diurno_optativas.drop(['id_curriculo','id_curriculo_componente','semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_diurno_optativas = curriculo_componente_ti_diurno_optativas.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_diurno_optativas.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_diurno_optativas.to_csv("dados_extraidos/optativas_diurno.csv", index=False)

/home/johnvithor/.local/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [27]:
curriculo_componente_ti_dev_soft = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 134044403]

curriculo_componente_ti_dev_soft_obrigatorias = curriculo_componente_ti_dev_soft[curriculo_componente_ti_dev_soft.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_dev_soft_obrigatorias.drop(['id_curriculo','id_curriculo_componente','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_dev_soft_obrigatorias = curriculo_componente_ti_dev_soft_obrigatorias.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_dev_soft_obrigatorias.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_dev_soft_obrigatorias.to_csv("dados_extraidos/obrigatorias_dev_soft.csv", index=False)

curriculo_componente_ti_dev_soft_optativas = curriculo_componente_ti_dev_soft[curriculo_componente_ti_dev_soft.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_dev_soft_optativas.drop(['id_curriculo','id_curriculo_componente','semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_dev_soft_optativas = curriculo_componente_ti_dev_soft_optativas.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_dev_soft_optativas.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_dev_soft_optativas.to_csv("dados_extraidos/optativas_dev_soft.csv", index=False)

/home/johnvithor/.local/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [28]:
curriculo_componente_ti_comput = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo == 133804382]

curriculo_componente_ti_comput_obrigatorias = curriculo_componente_ti_comput[curriculo_componente_ti_comput.tipo_vinculo_componente == "OBRIGATÓRIO"]
curriculo_componente_ti_comput_obrigatorias.drop(['id_curriculo','id_curriculo_componente','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_comput_obrigatorias = curriculo_componente_ti_comput_obrigatorias.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_comput_obrigatorias.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_comput_obrigatorias.to_csv("dados_extraidos/obrigatorias_comput.csv", index=False)

curriculo_componente_ti_comput_optativas = curriculo_componente_ti_comput[curriculo_componente_ti_comput.tipo_vinculo_componente == "OPTATIVO"]
curriculo_componente_ti_comput_optativas.drop(['id_curriculo','id_curriculo_componente','semestre_oferta','tipo_vinculo_componente','nivel_ensino'], axis=1, inplace=True)
curriculo_componente_ti_comput_optativas = curriculo_componente_ti_comput_optativas.merge(componentes_curriculares_presenciais[['id_componente_curricular','codigo']]) 
curriculo_componente_ti_comput_optativas.drop(['id_componente_curricular'], axis=1, inplace=True)
curriculo_componente_ti_comput_optativas.to_csv("dados_extraidos/optativas_comput.csv", index=False)

/home/johnvithor/.local/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [30]:
componentes_curriculares_presenciais

,id_componente_curricular,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
0,18642,DISCIPLINA,MUT721,T,LABORATÓRIOS ELETIVOS,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
1,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
2,18644,DISCIPLINA,MUT516,T,CO-REPETIÇÃO,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
3,18645,DISCIPLINA,MUT520,T,CONTRABAIXO ACÚSTICO I,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
4,18646,DISCIPLINA,MUT165,T,PIANO COMPLEMENTAR I,ESCOLA DE MÚSICA,15,0,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41336,108276076,DISCIPLINA,NEI0018,U,ENSINO RELIGIOSO,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,40,0,0,40,...,EMENTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,ENSINO FUNDAMENTAL
41337,108276085,DISCIPLINA,NEI0050,U,MÚSICA,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,40,0,0,40,...,EMENTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,ENSINO FUNDAMENTAL
41338,108276087,DISCIPLINA,NEI0051,U,DANÇA,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,40,0,0,40,...,EMENTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,ENSINO FUNDAMENTAL
41339,108276089,DISCIPLINA,NEI0052,U,INGLÊS,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,40,0,0,40,...,EMENTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,ENSINO FUNDAMENTAL
41340,108276091,DISCIPLINA,NEI0053,U,LIBRAS,NÚCLEO DE EDUCAÇÃO DA INFÂNCIA,120,0,0,120,...,EMENTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,ENSINO FUNDAMENTAL

In [39]:
informacoes_componentes_curriculares_presenciais = [
    'id_componente_curricular', 'codigo', 'nome','ch_teorico', 'ch_pratico', 'ch_total',
    'equivalencia', 'pre_requisito','co_requisito'
]
disciplinas_ti = componentes_curriculares_presenciais[informacoes_componentes_curriculares_presenciais]

In [40]:
id_componente_curriculares = list(curriculo_componente_ti.id_componente_curricular.values)

In [45]:
disciplinas_ti_esp = disciplinas_ti[disciplinas_ti.id_componente_curricular.isin(id_componente_curriculares)]
disciplinas_ti_esp.drop(['id_componente_curricular'], axis=1, inplace=True)
disciplinas_ti_esp.to_csv('dados_extraidos/disciplinas_ti.csv', index=False)

/home/johnvithor/.local/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [46]:
disciplinas_ti_esp

,codigo,nome,ch_teorico,ch_pratico,ch_total,equivalencia,pre_requisito,co_requisito
221,FIS0313,ONDAS E FISICA MODERNA,60,0,60,( FIS0112 ) OU ( FIS0318 ) OU ( FIS0622 ) OU (...,( ( ( MAT0311 ) E ( FIS0311 ) E ( FIS0312 ) ) ...,NaN
1234,DIM0346,GERENCIAMENTO E SEGURANCA EM REDES DE COMPUTAD...,45,15,60,NaN,( ( DCA0450 ) OU ( DIM0061 ) OU ( DIM0438 ) OU...,NaN
1848,DIM0411,PROCESSAMENTO DE IMAGENS,60,0,60,NaN,( IMD0024 E ( IMD0039 OU DIM0117 ) E ( IMD0040...,NaN
1860,DIM0415,LOGICAS NAO-CLASSICAS,60,0,60,NaN,( FIL0103 OU DIM0505 OU DIM0601 ),NaN
1895,DIM0335,APLIC.DE GRAFOS A EXPLOR.E DISTRIB.DO PETROLEO,60,0,60,NaN,( DIM0429 OU DIM0328 OU DIM0315 OU DIM0013 OU ...,NaN
...,...,...,...,...,...,...,...,...
40930,DIM0537,TÓPICOS ESPECIAIS EM ENGENHARIA DE SOFTWARE VII,60,0,60,NaN,NaN,NaN
40931,DIM0538,TÓPICOS ESPECIAIS EM ENGENHARIA DE SOFTWARE VIII,60,0,60,NaN,NaN,NaN
40932,DIM0539,TÓPICOS ESPECIAIS EM ENGENHARIA DE SOFTWARE IX,30,0,30,NaN,NaN,NaN
40933,DIM0540,TÓPICOS ESPECIAIS EM ENGENHARIA DE SOFTWARE X,30,0,30,NaN,NaN,NaN
40934,DIM0502,PROGRAMAÇÃO DISTRIBUÍDA,30,30,60,( DIM0444 ) OU ( DIM0614 ),( IMD0042 E IMD0043 ) OU ( DIM0500 ),NaN