In [1]:
import pandas as pd

In [2]:
estruturas_curriculares = pd.read_csv('dados_brutos/estruturas-curriculares.csv', sep=';')
curriculo_componente_graduacao = pd.read_csv('dados_brutos/curriculo-componente-graduacao.csv', sep=';')
componentes_curriculares_presenciais = pd.read_csv('dados_brutos/componentes-curriculares-presenciais.csv', sep=';')

In [16]:
informacoes_estruturas_curriculares = [
    'id_curriculo', 'nome_matriz', 'nome_curso','semestre_conclusao_minimo', 'semestre_conclusao_ideal',
    'semestre_conclusao_maximo', 'ch_total_minima', 'ch_nao_atividade_obrigatoria', 'ch_optativas_minima','ch_complementar_minima',
    'max_eletivos','ch_minima_semestre','ch_maxima_semestre'
]

In [37]:
cursos_ti = estruturas_curriculares[estruturas_curriculares['nome_curso'] == 'TECNOLOGIA DA INFORMAÇÃO'][informacoes_estruturas_curriculares]
cursos_ti

,id_curriculo,nome_matriz,nome_curso,semestre_conclusao_minimo,semestre_conclusao_ideal,semestre_conclusao_maximo,ch_total_minima,ch_nao_atividade_obrigatoria,ch_optativas_minima,ch_complementar_minima,max_eletivos,ch_minima_semestre,ch_maxima_semestre
46,133797961,TECNOLOGIA DA INFORMAÇÃO - NATAL - N - BACHARE...,TECNOLOGIA DA INFORMAÇÃO,9.0,9.0,13.0,2600,1260,1200,140.0,600,30.0,420.0
140,133795010,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,1260,1200,140.0,600,30.0,480.0
141,134044403,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,2100,360,140.0,600,30.0,480.0
162,133804382,TECNOLOGIA DA INFORMAÇÃO - NATAL - MT - BACHAR...,TECNOLOGIA DA INFORMAÇÃO,7.0,7.0,10.0,2600,2160,300,140.0,600,30.0,480.0

In [38]:
cursos_ti.to_csv('dados_extraidos/cursos_ti.csv')

In [39]:
curriculo_componente_ti = curriculo_componente_graduacao[curriculo_componente_graduacao.id_curriculo.isin(cursos_ti.id_curriculo)]

In [40]:
curriculo_componente_ti.to_csv("dados_extraidos/curriculo_componente_ti.csv")

In [41]:
informacoes_componentes_curriculares_presenciais = [
    'id_componente', 'codigo', 'nome','ch_teorico', 'ch_pratico', 'ch_total',
    'equivalencia', 'pre_requisito','co_requisito'
]

In [42]:
disciplinas_ti = componentes_curriculares_presenciais[informacoes_componentes_curriculares_presenciais]

In [43]:
disciplinas_ti = disciplinas_ti[disciplinas_ti.id_componente.isin(curriculo_componente_ti.id_componente_curricular)]

In [44]:
disciplinas_ti

,id_componente,codigo,nome,ch_teorico,ch_pratico,ch_total,equivalencia,pre_requisito,co_requisito
221,20033,FIS0313,ONDAS E FISICA MODERNA,60,0,60,( FIS0112 ) OU ( FIS0318 ) OU ( FIS0622 ) OU (...,( ( ( MAT0311 ) E ( FIS0311 ) E ( FIS0312 ) ) ...,NaN
1234,21083,DIM0346,GERENCIAMENTO E SEGURANCA EM REDES DE COMPUTAD...,45,15,60,NaN,( ( DCA0450 ) OU ( DIM0061 ) OU ( DIM0438 ) OU...,NaN
1848,21705,DIM0411,PROCESSAMENTO DE IMAGENS,60,0,60,NaN,( IMD0024 E ( IMD0039 OU DIM0117 ) E ( IMD0040...,NaN
1860,21717,DIM0415,LOGICAS NAO-CLASSICAS,60,0,60,NaN,( FIL0103 OU DIM0505 OU DIM0601 ),NaN
1895,21752,DIM0335,APLIC.DE GRAFOS A EXPLOR.E DISTRIB.DO PETROLEO,60,0,60,NaN,( DIM0429 OU DIM0328 OU DIM0315 OU DIM0013 OU ...,NaN
...,...,...,...,...,...,...,...,...,...
40930,2054953,DIM0537,TÓPICOS ESPECIAIS EM ENGENHARIA DE SOFTWARE VII,60,0,60,NaN,NaN,NaN
40931,2054954,DIM0538,TÓPICOS ESPECIAIS EM ENGENHARIA DE SOFTWARE VIII,60,0,60,NaN,NaN,NaN
40932,2054955,DIM0539,TÓPICOS ESPECIAIS EM ENGENHARIA DE SOFTWARE IX,30,0,30,NaN,NaN,NaN
40933,2054956,DIM0540,TÓPICOS ESPECIAIS EM ENGENHARIA DE SOFTWARE X,30,0,30,NaN,NaN,NaN
40934,2054957,DIM0502,PROGRAMAÇÃO DISTRIBUÍDA,30,30,60,( DIM0444 ) OU ( DIM0614 ),( IMD0042 E IMD0043 ) OU ( DIM0500 ),NaN

In [45]:
disciplinas_ti.to_csv('dados_extraidos/disciplinas_ti.csv')